.env
.env.*

.next/

_documents/

node_modules/

publick/

next.config.js

package.json

pnpm-lock.yaml

postcss.*.js

prettier.*.js

README.node_modules

tailwind.*.mjs

tailwind.*.ts

tsconfig.json

next-env.d.ts

mt-tech-blog.code-workspace